#input-select {
	float: left;
}

#output-pre {
	margin-left: 50%;
}

button {
	width: 100%;
}

pre {
	border: groove;
	line-height: normal;
	margin: 0;
}

select {
	border: solid;
	width: 50%;
}

textarea {
	float: left;
	font-family: monospace;
	line-height: normal;
	padding: 0;
	resize: none;
	width: 50%;
}
