#input-select {
	float: left;
}

button {
	width: 100%;
}

pre {
	border: solid;
	line-height: normal;
	margin: 0px;
	margin-left: 50%;
}

select {
	border: solid;
	width: 50%;
}

textarea {
	float: left;
	font-family: monospace;
	resize: none;
	width: 50%;
}
